<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-indicator">
    Loading products...
  </div>
</div>

<div class="checkout-container">
  <div class="left-panel">
    <div class="product" *ngFor="let product of inventory" (click)="openPopup(product)">
      <div class="product-image" [ngStyle]="getProductImageStyle(product)"></div>
      {{ product.name }}
    </div>
  </div>

  <div class="right-panel">
    <div class="selected-product" *ngFor="let selectedProduct of selectedProducts; let i = index">
      <span>{{ selectedProduct.name }} ({{ selectedProduct.quantity }})</span>
      <button class="remove-button" (click)="removeProduct(i)">x</button>
    </div>
    <button class="checkout-button-left" (click)="checkout()">Checkout</button>
    <button class="reset-button" (click)="reset()">Restart</button>
  </div>
</div>

<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <h3>{{ selectedProduct.name }}</h3>
    <div class="quantity">
      <button (click)="decrementQuantity()">-</button>
      <span>{{ selectedQuantity }}</span>
      <button (click)="incrementQuantity()">+</button>
    </div>
    <button (click)="addProduct()">OK</button>
  </div>
</div>

<div *ngIf="showPopupCheckout" class="popup">
  <div class="popup-content">
    <p>{{ popupCheckoutMessage }}</p>
    <ul *ngIf="missingProducts.length > 0">
      <li *ngFor="let product of missingProducts" class="left-align-list">
        {{ product.name }} ({{product.difference}})
      </li>
    </ul>
    <button (click)="closeCheckoutPopup()">Close</button>
  </div>
</div>